/*

colors:

Dark Gray: #606169
Blue: #60A8FF
Light Gray: #E8EAF4
Dark Blue: #518ED6

*/
::-webkit-scrollbar {
    display: none;
}
@font-face{
  font-family: p-semi;
  src: url(fonts/Proxima-Nova-Semibold.otf);
}
@font-face{
  font-family: p-reg;
  src: url(fonts/Proxima-Nova-Regular.otf);
}
@font-face{
  font-family: p-bold;
  src: url(fonts/Proxima-Nova-Bold.otf);
}

body{
  padding: 0;
  margin: 0;
  font-family: p-reg, sans-serif;
  letter-spacing: 0.5px;
  line-height: 103%;
  overflow: hidden;
  color: #606169;
}

.general-style{
  border-radius: 8px;
  box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.1);
}
input, textarea:focus{
  outline: none;
}

.play_button, .pause_button{
  cursor: pointer;
}
.play_button :hover{
  opacity: 0.95;
}
.pause_button :hover{
  opacity: 0.95;
}

#app{
  width: 100vw;
  height: 100vh;
  background-color: #60A8FF;
  position: absolute;
}
#body-container{
  width: 1120px;
  height: 100vh;
  margin: 0px auto;
}
#browse-container{
  background-color: white;
  width: 560px;
  margin: 40px;
  height: calc(100% - 80px);
  display: inline-block;
  overflow: scroll;
}
#content-container{
  width: 440px;
  height: calc(100% - 80px);
  margin: 40px 40px 40px 0px;
  display: inline-block;
  position: absolute;
}
#main-logo{
  position: relative;
  margin-top: 36px;
  margin-bottom: 8px;
  display: inline;
  width: 80px;
}
#about-subheader{
  position: relative;
  color: white;
  text-align: left;
}

.about-rule{
  border-bottom: 3px solid #518ED6;
  width: 88px;
  margin: 24px 0;
}

#about-subheader h3{
  text-transform: uppercase;
  font-size: 20px;
  font-family: p-semi, sans-serif;
  margin-bottom: 8px;
}
#about-subheader p{
  font-size: 14px;
  margin: 0;
}
#mini-player{
  margin: 16px 0;
  position: relative;
  width: 340px;
}
#mini-player svg{
  width: 64px;
  height: 64px;
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
}
#mini-player svg :hover{
  opacity: 0.97;
}
#mini-player-text{
  padding-top: 11px;
  display: inline-block;
  color: white;
  margin: auto 0;
  vertical-align: top;
}
#mini-player-text h3{
  margin-bottom: 2px;
  margin-top: 0;
  font-size: 20px;
  text-transform: capitalize;
}
#mini-player-text p{
  margin-top: 8px;
  font-size: 14px;
}

#about-body{
  color: white;
  font-size: 11px;
  text-align: left;
}

#upload-input input{
  background-color: transparent;
  color: white;
  padding: 0px 8px 2px 8px;
  border: none;
  border-bottom: solid 2px #518ED6;
  transition: all ease 0.3s;
  font-size: 13px;
  display: inline-block;
  margin: 0 4px;
  font-family: p-reg, sans-serif;
}
::-webkit-input-placeholder{
  color: white;
  font-family: p-reg, sans-serif;
}
.narrow-input{
  width: 72px;
}
.wide-input{
  width: 220px;
}

#fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#fileInput + label {
  background-color: #518ED6;
  color: white;
  padding: 16px 0px;
  text-align: center;
  font-family: p-semi;
  border-radius: 8px;
  width: auto;
  text-transform: uppercase;
  display: inline-block;
  margin: 24px 0 16px 0;
  width: 160px;
  cursor: pointer;
}

#fileInput:focus + label,
#fileInput + label:hover {
    background-color: #518ED6;
}

.upload-body-text{
  color: white;
  font-size: 12px;
  display: inline-block;
  line-height: 44px;
}

#now-playing{
  border-bottom: 1px solid #E8EAF4;
  margin-bottom: 16px;
  padding: 2% 0;
}
#now-playing h2{
  text-transform: uppercase;
  font-size: 12px;
  font-family: p-semi, sans-serif;
  margin: 0;
}
#now-playing-text{
  display: inline-block;
  float: right;
  width: calc(100% - 48px);
  padding: 1% 0;
}
#now-playing-info h3{
  font-size: 12px;
  font-family: p-semi, sans-serif;
  margin-bottom: 0;
  text-transform: capitalize;
}
#now-playing-info h4{
  font-size: 10px;
  margin: 0;
}
#now-playing-info svg{
  width: 32px;
}

#browse-criteria{
  width: 152px;
  height: 100px;
  position: absolute;
  margin: 24px;
  color: #606169;
  margin-top: 150px;
}
#browse-criteria input{
  margin-bottom: 16px;
  padding: 8px 8px;
  border-radius: 4px;
  border: 1px solid #E8EAF4;
}
#browse-criteria label{
  margin-left: 8px;
  font-size: 11px;
  vertical-align: middle;
}
#selected-tags{
  border-bottom: 1px solid #E8EAF4;
  border-top: 1px solid #E8EAF4;
  padding: 4px 0px;
}
.selected-tag{
  font-size: 10px;
  background-color: #E8EAF4;
  border-radius: 4px;
  padding: 6px 12px;
  display: inline-block;
  margin: 4px;
}
.selected-tag p{
  margin: 0;
  display: inline-block;
  line-height: 14px;
  vertical-align: middle;
}
.selected-tag svg{
  display: inline-block;
  line-height: 14px;
  vertical-align: middle;
  margin-left: 8px;
  width: 8px;
  height: 8px;
  cursor: pointer;
}
#searchAdd{
  line-height: 16px;
  background-color: #606169;
  color: white;
  padding: 8px 12px;
  font-family: p-semi;
  border-radius: 8px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  font-size: 11px;
  cursor: pointer;
}
#searchAdd:hover{
  opacity: 0.9;
}

#feed{
  width: 320px;
  height: calc(100% - 48px);
  margin: 24px 24px 24px 16px;
  float: right;
}
.feed-item{
  width: 100%;
  margin-bottom: 16px;
  border-bottom: 1px solid #E8EAF4;
  color: #606169;
  padding-bottom: 16px;
}
.feed-item svg{
  width: 32px;
  height: 32px;
}
.feed-item-titles{
  display: inline-block;
  margin-left: 24px;
  width: 240px;
}
.feed-item h2{
  font-size: 14px;
  font-family: p-semi, sans-serif;
  line-height: 22px;
  margin: 0;
  text-transform: capitalize;
}
.feed-item h3{
  font-size: 11px;
  margin: 0;
}
.feed-item-date{
  float: right;
}
.feed-item-date p{
  font-size: 10px;
  line-height: 16px;
  margin: 0;
}

.big-button{
  background-color: white;
  color: #60A8FF;
  padding: 16px 0px;
  text-align: center;
  font-family: p-semi;
  border-radius: 8px;
  width: auto;
  text-transform: uppercase;
  display: inline-block;
  margin: 36px 24px 36px 0;
  cursor: pointer;
}
.big-button:hover{
  opacity: 0.85;
}
.big-button p{
  margin: 0;
}

.little-button{
  background-color: #518ED6;
  color: white;
  padding: 16px 0px;
  text-align: center;
  font-family: p-semi;
  border-radius: 8px;
  width: auto;
  text-transform: uppercase;
  display: inline-block;
  margin: 24px 0 16px 0;
  width: 160px;
  cursor: pointer;
}
.little-button:hover{
  opacity: 0.85;
}
.little-button p{
  margin: 0;
}
